#errorPop {
  margin-top: 5px;
  padding: 5px;

  display: flex;

  border: 3px solid red;

  color: #D8000C;
  background-color: #FFD2D2;

  border-radius: 5px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#errorPop .fas {
  margin-right: 4px;
}

#hideMe {

  display: none;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #4056A1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 5vw;
  height: 5vw;
  text-align: center;

}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.arrow-up {
  width: 1em; 
  height: 1em; 
  background-color: #4056A1;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid red;
  position: relative;
  left: 5%;
}